commands:
  01_install_epel_repository:
    command: "sudo amazon-linux-extras install epel -y"

  02_install_supervisor:
    command: "sudo yum install -y supervisor"

  03_configure_supervisor:
    command: "sudo cp .ebextensions/supervisor/laravel-worker.conf /etc/supervisord.d/laravel-worker.conf"

container_commands:
  01_reload_supervisor:
    command: "sudo systemctl reload supervisord"
