commands:
  01_install_supervisor:
    command: "sudo yum install -y supervisor"

  02_configure_supervisor:
    command: "sudo cp .ebextensions/supervisor/laravel-worker.conf /etc/supervisord.d/laravel-worker.conf"

container_commands:
  01_reload_supervisor:
    command: "sudo systemctl reload supervisord"
