commands:
  01_install_epel_repository:
    command: "wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm && sudo rpm -ihv --nodeps ./epel-release-latest-8.noarch.rpm"

  02_install_supervisor:
    command: "sudo yum install -y supervisor"

  03_configure_supervisor:
    command: "sudo cp .ebextensions/supervisor/laravel-worker.conf /etc/supervisord.d/laravel-worker.conf"

container_commands:
  01_reload_supervisor:
    command: "sudo systemctl reload supervisord"